<div class="d-flex justify-content-center">
    <div class="content-container col-md-10 px-4">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}