@using uicTest.Data
@using System.Linq;

<nav class="container breadcrumb-box p-2" aria-label="breadcrumb">
    <ol class="breadcrumb">
        @*Home*@
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        @*Clickable links*@
        @for (int i = 0; i < @BreadcrumbList.Count - 1; i++)
        {
            var current = i;
            <li class="breadcrumb-item"><a href=@BreadcrumbList[current]>@BreadcrumbList[current]</a></li>
        }
        @*Currently active page*@
        <li class="breadcrumb-item active" aria-current="page">@lastItem</li>
    </ol>
</nav>

@code {
    [Parameter] public string pageAddress { get; set; }
    public List<string> BreadcrumbList = new List<string>();
    public string lastItem;

    public void addList()
    {
        foreach (string item in pageAddress.Split('/'))
        {
            BreadcrumbList.Add(item);
        }
        lastItem = BreadcrumbList[BreadcrumbList.Count - 1];
    }

    //Blazor Pages, Routing, and Layouts [4 of 11] | Blazor for Beginners
    //https://youtu.be/dMc-S8VkbIE?t=592
    protected override void OnParametersSet()
    {
        addList();
        base.OnParametersSet();
    }
}