<nav class="">
    <div class="container-fluid">
        <footer class="d-flex flex-wrap justify-content-center justify-content-md-between align-items-end py-3 px-3">
            <div class="col-md text-white text-center force-justify-start">
                <p class="bold">PRINCE OF SONGKLA UNIVERSITY INTERNATIONAL COLLEGE</p>
                <p>12th floor, Learning Resource Center (LRC)</p>
                <p>15 Kanjanvanich Road, Hat Yai, Songkhla 90110</p>
                <p>+66 (0) 7428 2831, +66 (0) 7428 9404 | psuic-info@psu.ac.th</p>
            </div>
            <div class="col-md">
                <div class="col-md d-flex align-items-center d-flex justify-content-center justify-content-md-end">
                    <span class="text-white">© PRINCE OF SONGKLA UNIVERSITY INTERNATIONAL COLLEGE 2022</span>
                </div>
                @*<ul class="nav col-md list-unstyled d-flex justify-content-center justify-content-md-end">
                    <li class="ms-3"><a class="text-white" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#web"></use></svg></a></li>
                    <li class="ms-3"><a class="text-white" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                    <li class="ms-3"><a class="text-white" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#youtube"></use></svg></a></li>
                    <li class="ms-3"><a class="text-white" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
                    </ul>*@
            </div>
        </footer>
    </div>
</nav>