@inherits LayoutComponentBase

<PageTitle>uicTest</PageTitle>

<div class="page">
    <main class="">
        <div class="">
            <NavMenuBlazor />
        </div>
        @*<main class="container-scroll">
        <div class="box-scroll"></div>
        <span class="spacer-scroll"></span>*@


        <article class="">
            @Body
        </article>

        <FooterMenu />
    </main>
</div>