@inherits LayoutComponentBase

<PageTitle>uicTest</PageTitle>

<div class="page">
    <main class="">
        <div class=""></div>
        @*<main class="container-scroll">
            <div class="box-scroll"></div>
            <span class="spacer-scroll"></span>*@

        <NavMenuBlazor />

        <article class="">
            @Body
        </article>

        <FooterMenu />
    </main>
</div>