<div class="color-overlay">
    <div class="image-bg d-flex justify-content-center align-items-center">
        <div class="row col-xxl-auto text-center">
            <div class="container-popup text-center d-flex align-items-center">
                <div class="d-grid gap-3">

                    <div class="text1">
                        <p>
                            ขออภัยขณะนี้เว็บกำลังอยู่ในระหว่างการปรับปรุง
                        @*</p>
                        <p>*@
                            สามารถติดตามข่าวสารของคณะได้ที่เว็บไซต์หลักสูตร
                        </p>
                        <a class="mb-1" href="https://cmdt-uic.psu.ac.th">https://cmdt-uic.psu.ac.th</a>
                    </div>
                    <div class="text2">
                        <p>
                            We apologize for the inconvenience. This website is currently under maintenance.
                       @* </p>
                        <p>*@
                            You can access the faculty’s information at the curriculum website.
                        </p>
                        <a class="mb-1" href="https://cmdt-uic.psu.ac.th">https://cmdt-uic.psu.ac.th</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>