/* #region Footer */

/*Container-fluid {
    height: 161px;
}

footer {

    p, span {
        font-family: 'PSU Stidti';
        font-style: normal;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #FFFFFF;
        margin: 0px;
        font-weight: 300;
        font-size: 11px;
        line-height: 20px;
    }

    p.bold {
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
    }

    p {
        margin: 0px;
    }
}

footer > .col-md:nth-child(1) {
    flex-grow: 1;
}

footer > .col-md:nth-child(2) {
    flex-grow: 1;
}

@media (min-width: 1200px) {
    footer {
        p, span {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
        }

        p.bold {
            font-weight: 700;
            font-size: 18px;
            line-height: 31px;
        }
    }

    footer > .col-md:nth-child(1) {
        flex-grow: 10;
    }

    footer > .col-md:nth-child(2) {
        flex-grow: 9;
    }
}*/

/*Prevent the first footer child to set text to center prematurely*/
/*@media (min-width: 737.78px) {
    .force-justify-start p {
        display: flex;
        justify-items: start;
    }
}*/

/* #endregion */