<nav class="navbar navbar-expand">
    <div class="container-fluid nav-items-bar">
        <a class="navbar-brand align-self-baseline" href="#">
            <img src="../images/psuic-logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav active">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        About Us
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Progress</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Admission</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">General Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">International Affairs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Academic Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>

                <li>
                    <ul class="nav-languages">
                        <li class="">
                            <a class="" aria-current="page" href="#">EN</a>
                        </li>
                        <li class="">
                            <p class=""> | </p>
                        </li>
                        <li class="">
                            <a class="" aria-current="page" href="#">TH</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>