/* #region DOM Element */

/*html, body {
    font-family: $font-family, Helvetica, Arial, sans-serif;
    height: 100px;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

article {
    flex-grow: 1;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}*/

/* #endregion */