@use 'sass:color';
@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
/* #region Sass Variables, @mixin, @import */

/* Font */
$font-family: "PSU Stidti";
$font-family-src: url("../fonts/PSUStidti.ttf");
$font-stack: $font-family, $font-family-src;

@font-face {
    font-family: $font-family;
    src: $font-family-src;
}

@mixin font-style($font-family: $font-family, $size: 40px, $line-height: 41px, $weight: 400, $align: start, $color: $light-color) {
    font: {
        family: $font-family;
        style: normal;
        weight: $weight;
        size: $size;
    }

    line-height: $line-height;
    text-align: $align;
    color: $color;
}

/* Color */
/* Color - Main */
$light-color: #FFFFFF;
$dark-color: #333333;
$middle-color: #C4C4C4;
$highlight-color: #FF0000;
$primary-color: #003364;
$secondary-color: #3A5E80;
$tertiary-color: #69859F;

/* Color - Apply to component*/

$nav-color: $secondary-color;
$footer-color: $secondary-color;
/* Assets */

$Background-Image-Cover: url(../images/psuic-background-image-alpha.png);

/* Media Resolution */

/* Media Resolution - Bootstrap Default Breakpoints */
$grid-breakpoints-xs: 0px;
$grid-breakpoints-sm: 576px;
$grid-breakpoints-md: 768px;
$grid-breakpoints-lg: 992px;
$grid-breakpoints-xl: 1200px;
$grid-breakpoints-xxl: 1400px;

/* Media Resolution - Custom Media Resolution */
$navbar-large-width: 1500px;
$footer-large-width: 1100px;
$footer-force-width: 737.78px;

/* Media Resolution - Use this for @media resolution */
@mixin media($screen-width, $max-width: 0) {

    @if $max-width != 0 {
        @media (min-width: $screen-width) and (max-width: $max-width) {
            @content
        }
    }

    @else {
        @media (min-width: $screen-width) {
            @content
        }
    }
}

/* wait what is this? */
@include media($footer-force-width) {
    .force-justify-start p {
        display: flex;
        justify-items: start;
    }
}

/* remove padding and margin */
@mixin no-padding-margin {
    padding: 0px;
    margin: 0px;
}

/* I know that I'm pasting the code here twice but perhap I'll know a better way */
/* This mixin is for preventing text selection */
@mixin prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


@import "element";

@import "bootstrap";

/* #endregion */

/* #region DOM Element / Global Styling */

html, body {
    font-family: $font-family, Helvetica, Arial, sans-serif;
    height: 100px;
    scroll-behavior: smooth;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

article {
    flex-grow: 1;
}

h1, h2, h3, h4, h5 {
    @include prevent-select;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* #endregion */

/* #region Global Classes For Global Use */

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

// This is used to make the div clickable as a whole
.div-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
}
/* This is going to be used for titles in header-home */
.text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* box-shadow */
.box-shadow {
    box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.5);
}

/* image background */

.image-bg {
    overflow: hidden;
    background-image: url(../images/psuic-background-image-alpha.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    height: 100%;
}

.color-overlay {
    background: rgba(85, 85, 85, 1);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

/* .jumbotron */
.jumbotron {
    height: 200px;
    background-color: $primary-color;
}

@include media($grid-breakpoints-md) {
    .jumbotron {
        height: 400px;
    }
}

/* border-radius */
$border-radius-card: 60px;

.container-rounded {
    border-radius: $border-radius-card;
    overflow: hidden;
}

//.rounded {
//    &-left {
//        border-radius: 60px 0px 0px 60px;
//    }
//    &-right {
//        border-radius: 0px 60px 60px 0px;
//    }
//    &-top {
//        border-radius: 60px 60px 0px 0px;
//    }
//    &-bottom {
//        border-radius: 0px 0px 60px 60px;
//    }
//}

/* #endregion */

/* #region layout classes */

.content-container {
    /*background-color: $middle-color;*/

    p {
        text-align: justify;
    }
}

/* #endregion */
/* #region Classes to work with Bootstraps */
/*Background color and sizing for breadcrumb*/
/*Add this class at the Nav parent of breadcrumb*/
.breadcrumb-box {
    background-color: $light-color;
}

%linked-text-color {
    a {
        color: $light-color;
    }
}
/* #endregion */

/* #region pagination */
.button-page {
    height: 28px;
    border-radius: 50px;
    background: #D9D9D9;
    width: 28px;

    &.active {
        background: #003C71;
        width: 89px;
    }
}
/* #endregion */

/* #region Navbar */
$navbar-height: 50px;

@mixin nav-text {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: $light-color;
    text-decoration: none;
}

@keyframes swipe-down {
    0% {
        height: 0%;
        opacity: 0;
    }

    100% {
        height: 100%;
        opacity: 1;
    }
}

@keyframes swipe-up {
    0% {
        height: 100%;
    }

    100% {
        height: 0%;
        opacity: 0;
    }
}

.openNav {
    animation-name: swipe-down;
    animation-duration: 1s;
}

.closeNav {
    animation-name: swipe-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#navbar {
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    z-index: 8;
}

.navbar-show {
    animation-name: navbar-show;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.navbar-hide {
    animation-name: navbar-hide;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes navbar-hide {
    0% {
        top: 0px;
    }

    100% {
        top: -$navbar-height;
    }
}

@keyframes navbar-show {
    0% {
        top: -$navbar-height;
    }

    100% {
        top: 0px;
    }
}

nav {
    background-color: $nav-color;

    > .container-fluid {
        @include no-padding-margin;
    }
}

.navbar-desktop {
    display: none;
}

.navbar-mobile {
    /*position: absolute;
    display: block;
    height: 100vh;
    width: 100vw; */
}

.navbar-expand {
    /* remove padding and margin from .navbar-expand */
    .navbar-nav {
        @include no-padding-margin;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;
        background-color: $secondary-color;
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 60px;
        padding-top: $navbar-height;
        padding-bottom: 20px;
        width: 100%;
        height: 100vh;
        position: fixed;
        overflow-x: hidden;
        /*overflow-y: hidden;*/

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .nav-link {
        padding: 0px !important;
    }
    /* make navbar appear on smaller screen*/
    .navbar-toggler {
        display: block;
        /* START of Blazor's default */
        /*background-color: rgba(255, 255, 255, 0.1);*/
        /*background-color: $light-color;*/
        /* END of Blazor's default */
        /*background-color: transparent;*/
        /* temporary background-color until navbar icon is succesfully added */
        background-color: color.adjust($light-color, $alpha: -0.9);
        @debug color.adjust($light-color, $alpha: -0.9);
        position: absolute;
        right: 30px;
        color: $light-color;

        &-icon {
        }
    }


    .navbar-collapse {
        /* Collapse the sidebar for small screens */
        display: none !important;
    }

    .collapse {
        display: none;
    }
}

.nav-items-bar {
    height: $navbar-height;
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    justify-content: end;
    padding: 0px 29px 0px 70px;
    gap: 100px;
}

.navbar {
    @include no-padding-margin;
    display: flex;
    justify-content: end;

    .nav-languages {
        @include no-padding-margin;
        margin: 0px;
        list-style-type: none;
        width: 53px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a, p {
            @include nav-text;
            @include font-style($size: 16px, $line-height: 27px);
            margin: 0px;
        }
    }
}

.navbar-brand {
    /* START of Blazor's default */
    /*font-size: 1.1rem;*/
    /*padding: 0.5rem;*/
    /*height: 3.5rem;*/
    /* END of Blazor's default */
    @include no-padding-margin;

    img {
        @include no-padding-margin;
        margin-left: 35px;
        width: 100%;
        height: $navbar-height;
        object-fit: cover;
    }
}

.closebtn {
    position: fixed;
    top: -30px;
    right: 45px;
    font-size: 60px;
    text-decoration: none;
    color: $light-color;

    &:hover {
        color: $light-color;
    }
}

.ul, li {
    list-style-type: none;
}

.nav-item {
    width: 100%;
    /* START of Blazor's default */
    font-size: 0.9rem;
    /*padding: 0.5rem;*/

    &:first-of-type {
        /*padding-top: 1rem;*/
    }

    &:last-of-type {
        /*padding-bottom: 1rem;*/
    }

    ::deep {

        a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 2rem;
            display: flex;
            align-items: center;
            line-height: 3rem;

            &.active {
                /*background-color: rgba(255,255,255,0.25);*/
                background-color: $light-color;
                color: white;
            }

            &:hover {
                /*background-color: rgba(255,255,255,0.1);*/
                background-color: $light-color;
                color: white;
            }
        }
    }
    /* END of Blazor's default */

    p {
        @include nav-text;
        margin: 0px;
    }

    a {
        @include nav-text;

        &:hover {
            color: #D9D9D9;
        }
    }

    font-feature-settings: 'pnum' on, 'lnum' on;
    /*color: #FFFFFF;*/
}

/* This .dropdown is started from Blazor's default CSS code */
.dropdown {
    &-content {
        background-color: $secondary-color;
        display: none;
        position: relative;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
    }

    &-show {
        > .dropdown-content {
            display: block;
        }
    }

    &-item {
        &.active, &:active {
            background-color: $secondary-color;
        }

        &:hover {
            background-color: $secondary-color;
        }
    }
}

@include media($navbar-large-width) {
    $navbar-height: 100px;

    .navbar-show {
        animation-name: navbar-show;
        animation-fill-mode: forwards;
    }

    .navbar-hide {
        animation-name: navbar-show;
        animation-fill-mode: forwards;
    }

    @keyframes navbar-show {
        0% {
            top: 0px;
        }

        100% {
            top: 0px;
        }
    }

    .openNav, .closeNav, .navbar-collapse {
        //display: block !important;
        animation-fill-mode: none;
    }

    .navbar-desktop {
        display: block;
    }

    .nav-items-bar {
        height: $navbar-height;

        .navbar {
            height: $navbar-height;
        }
    }

    .navbar-brand {
        img {
            height: $navbar-height;
        }
    }

    .nav-item {
        width: auto;
    }

    .navbar-expand {
        .navbar-nav {
            flex-direction: row;
            position: relative;
            margin-right: 30px;
            height: 100%;
            gap: 20px;
            padding: 0px;
        }

        .navbar-toggler {
            display: none;
        }

        .collapse, .navbar-collapse {
            /* Never collapse the sidebar for wide screens */
            display: flex !important;
        }
        /* hide mobile version navbar */
        .navbar-mobile {
            display: none !important;
        }
    }

    .navbar {
        .nav-languages {
            margin-right: 30px;
            margin-left: 20px;
        }
    }
    /*navbar have relative dropdown*/
    .dropdown-content {
        position: fixed;
    }

    .dropdown-show {
        > .dropdown-content {
            z-index: 9;
            //position: relative;
        }
    }
}
/*#endregion*/
/* #region Footer */

footer {
    background-color: $footer-color;

    p, span {
        font-family: 'PSU Stidti';
        font-style: normal;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #FFFFFF;
        margin: 0px;
        font-weight: 300;
        font-size: 11px;
        line-height: 20px;
    }

    p.bold {
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
    }

    p {
        margin: 0px;
    }

    a {
        color: $light-color;
    }
}

//footer > .col-md:nth-child(1) {
//    flex-grow: 1;
//}

//footer > .col-md:nth-child(2) {
//    flex-grow: 1;
//}

@media (min-width: $grid-breakpoints-xl) {
    footer {
        p, span {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
        }

        p.bold {
            font-weight: 700;
            font-size: 18px;
            line-height: 31px;
        }
    }

    //footer > .col-md:nth-child(1) {
    //    flex-grow: 10;
    //}

    //footer > .col-md:nth-child(2) {
    //    flex-grow: 9;
    //}
}
/*Prevent the first footer child to set text to center prematurely*/
//@media (min-width: 737.78px) {
//    .force-justify-start p {
//        display: flex;
//        justify-items: start;
//    }
//}
/* #endregion */
/* #region container-popup */
%p-margin {
    p {
        margin: 0px
    }
}
/* container-popup */

.container-popup {
    background: #333333;
    border: 4px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 64px;
    max-width: 500px;
    padding: 45px 26px;
    gap: 10px;
}
/* placeholder text class */
.text {
    &1 {
        font-family: 'PSU Stidti';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;

        @extend %linked-text-color;

        @extend %p-margin;
    }

    &2 {
        font-family: 'PSU Stidti';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;

        @extend %linked-text-color;

        @extend %p-margin;
    }
}

@include media($grid-breakpoints-md) {
    .container-popup {
        max-width: 600px;
    }

    .text1 {
        font-size: 20px;
        line-height: 41px;
        font-weight: 400
    }

    .text2 {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400
    }
}

@include media($grid-breakpoints-xl) {
    .container-popup {
        max-width: 1009px;
    }

    .text1 {
        font-size: 40px;
        line-height: 68px;
        font-weight: 400;
    }

    .text2 {
        font-size: 24px;
        line-height: 41px;
        font-weight: 400;
    }
}
/* #endregion */
/* #region Header */
//$header-height: 980px;
//$header-height-label: 793px;
//$header-text-margin-left: 102px;
@keyframes scroll-left {
    0% {
        right: -120%;
    }

    100% {
        right: 100%;
    }
}

.header-home {
    //width: 100%;
    //display: flex;
    //flex-direction: column;

    &-text {
        &--1 {
            @include no-padding-margin;
            @include font-style;
            font-weight: 700;
            font-size: 48px;
            line-height: 40px;
        }

        &--2 {
            @include no-padding-margin;
            @include font-style;
            font-weight: 700;
            font-size: 24px;
            line-height: 27px;
        }

        &--3 {
            @include no-padding-margin;
            @include font-style;
            font-weight: 700;
            font-size: 16px;
            line-height: 27px;
        }

        &--4 {
            @include no-padding-margin;
            @include font-style;
            font-weight: 700;
            font-size: 16px;
            line-height: 27px;
            letter-spacing: 0.22em;
        }
    }

    &__cover {
        /* Using math for calculating responsive ness*/
        /*width: 1289px;*/
        @debug 1289% / 1920% * 100%;
        //width: 1289% / 1920% * 100%;
        width: 100%;
        height: 230px;
        //align-self: end;
        //justify-self: end;
        background: url(../images/header-home-cover.png);
        background-size: cover;

        &-container {
            //width: 100%;
            height: 230px;
            z-index: -1;
            display: flex;
            align-self: end;
            justify-self: end;
        }
    }

    &__container {
        height: 100%;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        position: absolute;
    }

    &__background {
        /* Using math for calculating responsive ness*/
        /*width: 1101px;*/
        @debug 1101% / 1920% * 100%;
        //width: 1101% / 1920% * 100%;
        height: 150px;
        background-color: rgba(0, 60, 113, 1);
        //background-size: cover;
    }

    &__label {
        width: 100%;
        height: 50px;
        //background: url(../images/header-home-background-label.png);
        background-color: rgba(58, 94, 128, 1);
        box-shadow: 0px -5px 13px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        //background-size: cover;
        //margin-top: $header-height-label;
        //padding-left: $header-text-margin-left;
        overflow: hidden;

        p {
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;
            animation-name: scroll-left;
            animation-duration: 30s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            z-index: 2;
        }
    }

    &__title-box {
        //width: 1795px;
        //height: 431px;
        //position: absolute;
        background-color: none;
        //margin-top: 250px;
        //padding-left: $header-text-margin-left;
        //display: flex;
        //flex-direction: column;
        //justify-items: center;
        //gap: 30px;
    }

    &__box {
        //width: 157.43px;
        /* Using math for calculating responsive ness*/
        /*width: 1101px;*/
        @debug 1542px / 1920% * 100%;
        /*margin-left: 1542% / 1920% * 100%;*/
        //margin-left: 1542% / 1920% * 100%;
        //margin-top: 707px;
        //width: 439px;
        //height: 232px;
        padding: 4px;
        background: rgba(58, 94, 128, 1);
        border-radius: 30px;

        &-container {
            //width: 100%;
            //height: 100px;
            //position: absolute;
            //overflow: hidden;
        }


        &__image {
            position: relative;
            z-index: 3;
            width: 148.26px;
            height: 68.26px;
            background: url(../images/header-home-box.png);
            background-size: cover;
            filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.2));
            border-radius: 30px;
            display: flex;
            text-align: center;
            align-items: end;
        }

        &-textbox {
            width: 403px;
            height: 16.51px;
            background: #000000;
            border-radius: 0px 0px 30px 30px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &-vertical-text {
        @include font-style;
        writing-mode: vertical-lr;
        text-orientation: upright;
        color: rgba(0,0,0,0);
        -webkit-text-stroke: white 2px;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 41px;
        text-align: center;
        font-feature-settings: 'pnum' on, 'lnum' on;
        /*border: 1px solid #FFFFFF;*/
        outline: 1px;
        outline-color: $light-color;
    }

    @include media($grid-breakpoints-md) {
        .header-home {
            &__background {
                width: 43%;
                height: 545px;
            }

            &__cover {
                height: 545px;
                background-position: right;
            }

            &__cover-container {
                width: 57%;
                height: 545px;
            }

            &__label {
                height: 100px;
            }

            &__box {
                padding: 7px;

                &-container {
                }


                &__image {
                    width: 240.92px;
                    height: 110.92px;
                }

                &-textbox {
                    width: 240.92px;
                    height: 26.83px;
                }
            }

            &-text {
                &--1 {
                    font-weight: 700;
                    font-size: 96px;
                    line-height: 80px;
                }

                &--2 {
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 27px;
                }

                &--3 {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 50px;
                }


                &--4 {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 27px;
                }
            }
        }
    }

    @include media($grid-breakpoints-xxl) {
        .header-home {
            &__background {
                height: 750px;
            }

            &__cover {
                height: 750px;
            }

            &__cover-container {
                height: 750px;
            }

            &__label {
                height: 150px;
            }

            &__box {
                padding: 13px;

                &-container {
                }


                &__image {
                    width: 404px;
                    height: 186px;
                }

                &-textbox {
                    width: 404px;
                    height: 45px;
                }
            }

            &-text {
                &--1 {
                    font-weight: 700;
                    font-size: 150px;
                    line-height: 200px;
                }

                &--2 {
                    font-weight: 700;
                    font-size: 72px;
                    line-height: 60px;
                }

                &--3 {
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 61px;
                }

                &--4 {
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 61px;
                }
            }
        }
    }

    @include media(2130px) {
        .header-home {
            &-text {
                &--1 {
                    font-weight: 700;
                    font-size: 200px;
                    line-height: 200px;
                }

                &--2 {
                    font-weight: 700;
                    font-size: 96px;
                    line-height: 60px;
                }

                &--3 {
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 82px;
                }
            }
        }
    }
}
/* #endregion */

@import "custom/_hide-scroll.scss";
/*@import "custom/_custom-scroll.scss";*/
/*@import "custom/_simple-bar.scss";*/

@import "blazor";
