<div class="header-home prevent-select">
    <div class="header-home__cover-container">
        <div class="header-home__cover"></div>
    </div>
    <div class="header-home__container">
        <div class="header-home__left">
            <div class="header-home__title-box text-shadow">
                <p class="header-home-text--1">
                    PSUIC
                </p>
                <p class="header-home-text--3 text-shadow">
                    Prince of Songkla University
                </p>
                <p class="header-home-text--2 text-shadow">
                    Hatyai Campus
                </p>
            </div>
        </div>
        <div class="position-absolute top-50 end-0 translate-middle-y">
            <p class="header-home-vertical-text text-shadow">
                PSUIC
            </p>
        </div>
        <div class="header-home__box-container">
            <div class="header-home__box">
                <div class="header-home__box__image">
                    <div class="header-home__box-textbox">
                        <p class="header-home-text--4 text-center">
                            CMDT
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-home__label">
        <p class="header-home-text--3">Welcome to PSUIC Hatyai Campus</p>
    </div>
    <div class="header-home__linear"></div>
</div>