<div class="header-home prevent-select">
    <div class="d-flex flex-column">
        <div class="row p-0 m-0 w-100 header-home__background-gradient">
            <div class="header-home__background d-flex align-items-end align-items-md-center">
                <div class="header-home__title-box text-shadowmt-md-2 ms-2 ms-md-3 ms-xxl-5">
                    <p class="header-home-text--1">
                        PSUIC
                    </p>
                    <p class="header-home-text--3 text-shadow">
                        Prince of Songkla University
                    </p>
                    <p class="header-home-text--2 text-shadow">
                        Hatyai Campus
                    </p>
                </div>
            </div>
            <div class="header-home__cover-container p-0">
                <div class="header-home__cover"></div>
            </div>
        </div>

        <div class="row p-0 m-0 w-100">
            <div class="col-md p-0">
                <div class="d-flex align-items-center">
                    <div class="header-home__label px-3 px-md-4 px-xxl-5">
                        <p class="header-home-text--2">Welcome to PSUIC Hatyai Campus</p>
                    </div>
                    @* CMDT box *@
                    <div class="header-home__box-container justify-content-end position-absolute end-0 me-2 me-md-3 me-xxl-5">
                        <a href="https://cmdt-uic.psu.ac.th/">
                            <span class="div-link"></span>
                        </a>
                        <div class="header-home__box">
                            <div class="header-home__box__image">
                                <div class="header-home__box-textbox">
                                    <p class="header-home-text--4 text-center">
                                        CMDT
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*


    *@
    @*
    <div class="position-absolute top-50 end-0 translate-middle-y">
    <p class="header-home-vertical-text text-shadow">
    PSUIC
    </p>
    </div>
    *@
</div>