<!-- News -->
<div class="container my-5">
    <div class="row d-flex justify-content-center">
        <div class="text-center">
            <h1>News</h1>
        </div>
        <!-- Nav pills -->
        <div class="d-flex justify-content-center mb-3">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="btn btn-outline-primary border-0 nav-link active" data-bs-toggle="pill" href="#home">Upcoming Event</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary border-0 nav-link" data-bs-toggle="pill" href="#menu1">General News</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary border-0 nav-link" data-bs-toggle="pill" href="#menu2">Procurement News</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary border-0 nav-link" data-bs-toggle="pill" href="#menu3">Career Opportunities</a>
                </li>
            </ul>
        </div>
        <div class="row mb-3 ">
            <div class="col-md-9">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane container active" id="home">
                        <div class="row">
                            <div class="col-md">
                                @*Horizontal Card*@
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-6">
                                            <img src="https://cdn.pixabay.com/photo/2020/08/25/18/28/workplace-5517744_960_720.jpg" class="img-fluid rounded-start" alt="Card Image">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <h4 class="card-title">Card title</h4>
                                                <p class="card-text">Some example text. Some example text.</p>
                                                <a href="#" class="card-link text-end">Read more...</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Force next columns to break to new line -->
                            <div class="w-100"></div>

                            <div class="col-md">
                                @*Card*@
                                <div class="card mb-3">
                                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2020/08/25/18/28/workplace-5517744_960_720.jpg" alt="Card image">
                                    <div class="card-body">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some example text. Some example text.</p>
                                        <a href="#" class="card-link text-end">Read more...</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="card mb-3">
                                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2020/08/25/18/28/workplace-5517744_960_720.jpg" alt="Card image">
                                    <div class="card-body">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some example text. Some example text.</p>
                                        <a href="#" class="card-link text-end">Read more...</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="card mb-3">
                                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2020/08/25/18/28/workplace-5517744_960_720.jpg" alt="Card image">
                                    <div class="card-body">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some example text. Some example text.</p>
                                        <a href="#" class="card-link">Read more...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="menu1">...</div>
                    <div class="tab-pane container fade" id="menu2">...</div>
                    <div class="tab-pane container fade" id="menu3">...</div>
                </div>
            </div>
            <!-- Latest News -->
            <div class="col-md-3 d-none d-md-block">
                <div class="mb-2">Lastest News</div>
                <a href="#" class="mb-2">
                    <div>News Title News Title News Title News Title News Title News Title </div>
                    <div>Day Month Year</div>
                </a>
                <div class="container w-100 border-secondary border-bottom my-2"></div>
                <a href="#" class="mb-2">
                    <div>News Title News Title News Title News Title News Title News Title </div>
                    <div>Day Month Year</div>
                </a>
                <div class="container w-100 border-secondary border-bottom my-2"></div>
                <a href="#" class="mb-2">
                    <div>News Title News Title News Title News Title News Title News Title </div>
                    <div>Day Month Year</div>
                </a>
                <div class="container w-100 border-secondary border-bottom my-2"></div>
                <a href="#" class="mb-2">
                    <div>News Title News Title News Title News Title News Title News Title </div>
                    <div>Day Month Year</div>
                </a>
            </div>
        </div>
        <button type="button" class="btn btn-outline-primary mx-auto" style="width: 240px;">All Upcoming Event</button>
    </div>
</div>