<div class="container my-5">
    <div class="row d-flex justify-content-center">
        <div class="text-center">
            <h1>Admission</h1>
            <p>Portfilio,English language test result, Thai Matayom 6 to International students with Grade 12 or equivalent degree</p>
        </div>
        <div class="row mb-3">
            <!-- Cards -->
            <div class="col-md">
                <div class="card">
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2020/08/25/18/28/workplace-5517744_960_720.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h2 class="card-title text-center">Card title</h2>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card">
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2020/08/25/18/28/workplace-5517744_960_720.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h2 class="card-title text-center">Card title</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>